@charset 'utf-8';

/* reset.css */
*{
    /*여백설정*/
    margin: 0;  
    padding: 0;
}
a{
    /* 텍스트 밑줄 */
    text-decoration: none;
    font-style: italic;
}
/**************/
body{
    background-color: antiquewhite;
}
h1{
    color: blue !important;
}
span{
    text-decoration: line-through;
}
div{
    width: 60%;
    color: red;
    background-color: yellowgreen;
}


