@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
#wrapper{
    width: 800px;
    margin: 0 auto;
}
.bg{
    height: 600px;
    background-image: url('../image/apples.jpg');
    background-size: cover;
}
.bg > .detail{ 
    background-color: rgba(0,0,0,0.4);
}
.bg > .detail > h1{
    color: #fff;
}
.bg > .detail > p{
    color: rgb(232, 164, 38);
    margin: 20px 0;
}