@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --main-color: #5D9AB2;
    --main-padding: 20px;
    --main-font-color: #222;
}
/*** common class style ***/
.btnStyle{   
    width: 150px;
    margin: 0 auto;
    padding: var(--main-padding);
    color: #fff;
    text-align: center;
    font-weight: bolder;
    background-color: #BF6A7A;    
    border: 2px solid #fff;
    border-radius: 5px;
}

/*** reset.css ***/
*{ margin: 0; padding: 0;}
a{
    text-decoration: none;
    color: inherit;
}
ul{ list-style: none;}
body{ 
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

/*** <header> ***/
header{
    height: 80vh;
    /* background-image: url('../image/fruits.jpg'); */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.7)),url('../image/fruits.jpg');
    /* background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url('../image/fruits.jpg'); */
    background-size: cover;
    background-position: center;
}
nav > .logo{
    background-color: var(--main-color);
    padding: var(--main-padding);
    color: #fff;
    font-size: 24px;
}
nav{
    background-color: rgba(255,255,255,0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav > ul a{
    display: block;
    color: var(--main-font-color);
    padding: var(--main-padding);
}
nav > ul a:hover{
    background-color: #888;
}
div.title{
    color: #fff;
    text-align: center;
    height: calc(100% - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}
div.title img{
    width: 100px;
}
div.title p:nth-of-type(1){
    font-size: 10vh;
    font-weight: bolder;
    letter-spacing: 20px;
}
div.title p:nth-of-type(2){
    font-size: 25px;
    margin: 20px 0;
}
/*** <main> ***/
.secA{
    width: 80%;
    margin: 40px auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
.secA > div{
    margin: 30px;
}
.secA > .card > .icon{
    width: 100px;
    margin: 30px auto;
    height: 100px;
    border-radius: 50%;
    background-color: #888;
    color: #fff;
}
.secA > .card > .icon > span{
    font-size: 60px;
    line-height: 100px;
}
.secA > .card > p{
    margin: 30px 0;
}
.secA > .card > a{
    font-weight: bolder;
    color: var(--main-color);
}

.wrap{
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.wrap > img{
    width: 50%;
}
.wrap > div{
    margin: 20px;
    padding: 30px;
}
.wrap > div > h3{
    font-size: 24px;
}
.wrap > div > p:nth-of-type(1){
    font-size: 20px;
    margin: 10px 0;
}
.secB{
    background-color: var(--main-color);
    color: #fff;
}
.secC{
    padding: 50px;
}
.secB .btnStyle , .secC .btnStyle{
    margin: 50px 0;
}

/*** <footer> ***/
footer{
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
    color: #fff;
    padding: 30px;
}
footer > .f-logo{
    width: 20%;
}
footer > .f-logo > p{
    margin: 10px 0;
}
footer > .f-logo > .f-icon > span{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-weight: bolder;
    line-height: 50px;
    margin: 10px 5px;
}
footer > .f-menu{
    width: 40%;
    display: flex;
}
footer > .f-menu > div{
    flex: 1;margin: 0 20px;
}
footer > .f-menu h3{
    border-bottom: 2px solid #fff;
}
footer > .f-menu li{
    padding: 10px 0;
}
