@charset "utf-8";

.box1{
    width: 100px;
    height: 100px;
    background-color: orange;
    animation-name: shape;
    animation-duration: 5s;
    /* animation-direction: alternate;
    animation-iteration-count: 5; */
    animation-fill-mode: forwards;
}
@keyframes shape{
    0%{
        border: 1px solid #000;
    }
    50%{
        background-color: blue;
    }
    100%{
        border: 1px solid #f00;
        border-radius: 50%;
    }
}