@charset "utf-8";

*{ margin: 0; padding: 0;}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    background-color: #222;
    border-radius: 10px;
    width: 500px;
    color: #fff;
    padding: 20px;
    line-height: 2rem;
}
.wrapper > h1{
    text-align: center;
}
.item > .text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item > .line{
    border: 1px solid yellowgreen;
    padding: 5px;
    border-radius: 3px;
}
.item > .line > .progress{
    height: 10px;
    background-color: yellow;
}
.item:nth-of-type(1) > .line > .progress{
    width: 90%;
}
.item:nth-of-type(2) > .line > .progress{
    width: 80%;
}
.item:nth-of-type(3) > .line > .progress{
    width: 65%;
}
.item:nth-of-type(4) > .line > .progress{
    width: 70%;
}
.item:nth-of-type(5) > .line > .progress{
    width: 82%;
}