@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
header{
    background-color: orange;
    height: 10vh;
}
main>section{
    float: left;
    width: 33.333333%;
    height: 60vh;
}
#left{
    background-color: green;    
}
#center{
    background-color: purple;
}
#right{
    background-color: blue;
}
footer{
    background-color: gray;
    clear: both;
    height: 10vh;
}