@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
#header{
    background-color: orange;
    height: 10vh;
}
#left{
    background-color: green;
    float: left;
    width: 33.333333%;
    height: 80vh;
}
#center{
    background-color: purple;
    float: left;
    width: 33.333333%;
    height: 80vh;
}
#right{
    background-color: blue;
    float: left;
    width: 33.333333%;
    height: 80vh;
}
#footer{
    background-color: gray;
    clear: both;
    height: 10vh;
}