<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS기초-absolute</title>
    <style>
        #wrapper{
            height: 50vh;
            background-color: orange;
            position: relative;
        }
        #content{
            background-color: skyblue;
            /* width: 60%;
            height: 50%; */
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 50px;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <div id="content">
            <p>박스의 위치값 이동</p>
            <p>단락을 표시합니다</p>
        </div>
    </div>
</body>
</html>